@import url(defs.css);

.navbar > .container-fluid {
  /* Must be 'min-height' instead of 'height' because on mobile devices
     navbar height can vary based on whether the navbar is expanded
     or collapsed. */
  min-height: var(--navbar-container-height);
}

.container {
  margin-top: var(--container-top-offset);
  max-width: 960px;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-6px);
}
.list-enter-active,
.list-leave-active {
  transition: all 220ms ease;
}

/* improve spinner visibility */
.spinner-border {
  width: 3rem;
  height: 3rem;
}
